configuration {
	modi: "window,run,drun";
	font: "Fira Mono Medium 10";
	show-icons: true;
	drun-display-format: "{icon} {name}";
	theme: "/home/mrmango/.config/rofi/themes/gruvbox";
	display-window: " ";
	display-run: " ";
	display-drun: " ";
}
@import "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
