* {
  accent:           #5e81ac;
  background:       #2e3440;
  background-light: #3b4252;
  accent-soft:      #88c0d0;
  foreground:       #d8dee9;
  on:               #a3be8c;
  off:              #bf616a;
}
